/* Custom container */

/* Replaced with normal container and standard footer */
/*.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }
*/

/* Replaced with standard BS3 Navbar */
/*.navbar .nav {
  float: right; }*/

/* Main Styles */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  color: #ed4f3e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  color: #64cdf2;
}

.navbar-default .navbar-brand {
  color: #ed4f3e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.button,
.category-heading {
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
}

.button {
  margin: 1em 0;
  padding: 0.5em 0.75em;
  color: #64cdf2;
}

.button.active {
  background: #64cdf2;
  color: #FFF;
}

.hidden {
  display: none;
}

#content:focus {
  outline: none;
}

#footer {
  background-color: #d8d8d8;
}

/* home page items */

.learning-item {
  margin-bottom: 20px;
}

.learning-cat-item {
  text-align: center;
  font-size: 1.1em;
}

/* Category Page Styles */
.category-heading,
.view-button {
  margin: 1em 0;
  padding: 0.25em 0.5em;
  background-color: #64cdf2;
  color: #FFF;
}

.category-heading:hover,
.category-heading:focus,
.view-button:hover,
.view-button:focus {
  background-color: #ed4f3e;
  color: #FFF;
  text-decoration: none;
}

.view-button {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.labels i {
  color: #64cdf2;
}

.cat-image {
  max-width: 200px;
  margin: 0 auto;
}

.attribution {
  font-weight: bold;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cat-info {
    width: 70%;
  }
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

  html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }
