<div class="page-header">
  <h1>{{ page.title }}</h1>
  <p class="cat-info"> {{ page.cat-info }}</p>
  <a href="{{ BASE_PATH }}/categories"><p class="small">Back to Categories</p></a>
</div>

<div class="row">
    {% for post in site.posts %}
      {% if post.tags contains page.category %}
        <div class="col-md-4 learning-item">
            <a href="#">
                <img class="img-responsive" src="{{ post.image }}" alt="">
            </a>
            <h2>
                <a href="#">{{ post.title }}</a>
            </h2>
            <p class="attribution">
              {% if post.resource-author %}
                {{post.resource-author}},
              {% endif %}
              {{post.resource-org}}
            </p>
            {{ post.content }}
            <div class="labels pull-right">
              {% if post.resource-type == "Ebook" %}
                <i class="glyphicon glyphicon-book"></i>
              {% endif %}
              {% if post.resource-type == "Course" %}
                <i class="glyphicon glyphicon-blackboard"></i>
              {% endif %}
              {% if post.resource-type == "Email Course" %}
                <i class="glyphicon glyphicon-envelope"></i>
              {% endif %}
                {{post.resource-type}} |
              {% if post.access == "Requires Email" %}
                <i class="glyphicon glyphicon-user"></i>
                {{post.access}}
              {% endif %}
            </div>
            <a href="{{post.resource-url}}" target="_blank" class="button view-button">View</a>
        </div>
      {% endif %}
  {% endfor %}
</div>
<!-- /.row -->
