<div class="page-header">
  <h1>{{ page.title }}</h1>
  <p class="cat-info"> {{ page.cat-info }}</p>
  <a href="{{ BASE_PATH }}/categories"><p class="small">Back to Categories</p></a>
</div>

<div class="row experiences">
    {% for post in site.posts %}
      {% if post.tags contains page.category %}
      {% assign learning-item-id = post.title | split: " " | join: "-" %}
        <div class="col-md-4 col-sm-6 learning-item">
          <div id="{{ learning-item-id }}" class="anchor"></div>
              <picture class="intrinsic intrinsic-item">
                <img class="img-responsive intrinsic-img" src="{{site.baseurl}}/assets/images/resources/{{ post.image }}" alt="{{post.title}} book cover">
              </picture>
            <h2>
                <a href="{{post.resource-url}}" target="_blank">{{ post.title }}</a>
            </h2>
            <p class="attribution">
              {% if post.resource-author %}
                {{post.resource-author}},
              {% endif %}
              {{post.resource-org}}
            </p>
            {{ post.content }}
            <div class="labels pull-right">
              {% if post.resource-type == "Ebook" %}
                <i class="glyphicon glyphicon-book"></i>
              {% endif %}
              {% if post.resource-type == "Course" %}
                <i class="glyphicon glyphicon-blackboard"></i>
              {% endif %}
              {% if post.resource-type == "Email Course" %}
                <i class="glyphicon glyphicon-send"></i>
              {% endif %}
              {% if post.resource-type == "Website" %}
                <i class="glyphicon glyphicon-link"></i>
              {% endif %}
              {% if post.resource-type == "Podcast" %}
                <i class="glyphicon glyphicon-headphones"></i>
              {% endif %}
                {{post.resource-type}} |
              {% if post.access == "Requires Email" %}
                <i class="glyphicon glyphicon-envelope"></i>
              {% endif %}
              {% if post.access == "Requires Registration" %}
                <i class="glyphicon glyphicon-user"></i>
              {% endif %}
              {% if post.access == "Free" %}
                <i class="glyphicon glyphicon-download-alt"></i>
              {% endif %}
              {{post.access}}
            </div>
            <div class="post-sharing pull-right">
              {% assign learning-item-url = "https://hackid.github.io%23" | append: learning-item-id %}
              <a href="https://twitter.com/share?url={{learning-item-url}}&via=anthkris&hashtags=hackidlearning&text={{post.title}} free {{post.resource-type}}" target="_blank">
                <img src="{{site.baseurl}}/assets/images/twitter-logo.svg" class="social-logo"/>
              </a>
              <a href="https://plus.google.com/share?url={{learning-item-url}}&title={{post.title}} free {{post.resource-type}}" target="_blank">
                <img src="{{site.baseurl}}/assets/images/google-plus.svg" class="social-logo"/>
              </a>
            </div>
            <a href="{{post.resource-url}}" target="_blank" class="button view-button">View</a>
        </div>
      {% endif %}
  {% endfor %}
</div>
<!-- /.row -->
