        <!-- Page Header -->
        <div class="page-header">
          <img class="logo" src="{{site.baseurl}}/assets/images/hackid.svg" alt="hack id logo" />
          <h1>{{ page.title }}</h1>
          <h2 class="tagline">{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
        </div>
        <div>
        </div>
        <div class="button-group filter-button-group">
          <a href="javascript:void(0);" class="button active" data-filter="*">All</a>
          {% assign tags_sorted = site.tags | sort %}
          {% for tag in tags_sorted %}
            <a class="button" href="javascript:void(0);" data-filter=".{{ tag | first }}">{{ tag | first | replace:'-cat','' | replace:'-',' ' | capitalize }}</a>
          {% endfor %}
        </div>
        <!-- Projects Row -->
      <div class="row experiences">
          {% for post in site.posts %}
            {% assign learning-item-id = post.title | split: " " | join: "-" %}
              <div class="col-md-4 col-sm-6 learning-item {{ post.tags | join: " " }}">
                <div id="{{ learning-item-id }}" class="anchor"></div>
                    <picture class="intrinsic intrinsic-item">
                      <img class="img-responsive intrinsic-img" src="{{site.baseurl}}/assets/images/resources/{{ post.image }}" alt="{{post.title}}">
                    </picture>
                  <h2>
                      <a href="{{post.resource-url}}" target="_blank">{{ post.title }}</a>
                  </h2>
                  <p class="attribution">
                    {% if post.resource-author %}
                      {{post.resource-author}},
                    {% endif %}
                    {{post.resource-org}}
                  </p>
                  {{ post.content }}
                  <div class="labels pull-right">
                    {% if post.resource-type == "Ebook" %}
                      <i class="glyphicon glyphicon-book"></i>
                    {% endif %}
                    {% if post.resource-type == "Course" %}
                      <i class="glyphicon glyphicon-blackboard"></i>
                    {% endif %}
                    {% if post.resource-type == "Email Course" %}
                      <i class="glyphicon glyphicon-send"></i>
                    {% endif %}
                    {% if post.resource-type == "Website" %}
                      <i class="glyphicon glyphicon-link"></i>
                    {% endif %}
                    {% if post.resource-type == "Podcast" %}
                      <i class="glyphicon glyphicon-headphones"></i>
                    {% endif %}
                      {{post.resource-type}} |
                    {% if post.access == "Requires Email" %}
                      <i class="glyphicon glyphicon-envelope"></i>
                    {% endif %}
                    {% if post.access == "Requires Registration" %}
                      <i class="glyphicon glyphicon-user"></i>
                    {% endif %}
                    {% if post.access == "Free" %}
                      <i class="glyphicon glyphicon-download-alt"></i>
                    {% endif %}
                    {{post.access}}
                  </div>
                  <!-- Paste the 3 next lines where you want the sharing button(s) to appear -->
                <div class="post-sharing pull-right">
                  {% assign learning-item-url = "https://hackid.github.io%23" | append: learning-item-id %}
                  <a href="https://twitter.com/share?url={{learning-item-url}}&via=anthkris&hashtags=hackidlearning&text={{post.title}} free {{post.resource-type}}" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/twitter-logo.svg" class="social-logo" alt="Twitter"/>
                  </a>
                  <a href="https://plus.google.com/share?url={{learning-item-url}}&title={{post.title}} free {{post.resource-type}}" target="_blank">
                    <img src="{{site.baseurl}}/assets/images/google-plus.svg" class="social-logo" alt="Google Plus"/>
                  </a>
                </div>
                  <a href="{{post.resource-url}}" target="_blank" class="button view-button">View</a>
              </div>
        {% endfor %}
      </div>
<!-- /.row -->
