        <!-- Page Header -->
        <div class="page-header">
          <img class="logo" src="{{site.baseurl}}/assets/images/hackid.svg" alt="hack id logo" />
          <h1>{{ page.title }}</h1>
          <h2 class="tagline">{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
        </div>

        <!-- Projects Row -->
        <div class="row">
          {% for page in site.pages %}
            {% if page.group == "categories" %}
            {% assign tag_num = {{site.tags[page.category].size}} %}
            <div class="col-sm-4 learning-cat-item">
                <a href="{{ BASE_PATH }}{{page.url}}">
                    <img class="img-responsive cat-image" src="{{site.baseurl}}/assets/images/{{page.image}}" alt="">
                </a>
                <a href="{{ BASE_PATH }}{{page.url}}" class="category-heading">
                  <span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ page.title}} ({{ tag_num }} resources)
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- /.row -->
